<%- include('header', {type: 'signin'})%>
  <div class="container">
    <form method="post" class="form create">
      <div>
        <label>用户名：</label>
        <input type="text" placeholder="用户名" name="name">
      </div>
      <div>
        <label>密码：</label>
        <input type="password" placeholder="密码" name="password">
      </div>
      <div class="submit">登录</div>
    </form>
  </div>
  <script>
  $('.submit').click(function() {
    if ($('input[name=name]').val().trim() === '' || $('input[name=password]').val().trim() === '') {
      fade('请输入用户名或密码');
    } else {
      $.ajax({
        url: '/signin',
        type: 'POST',
        data: $('.form').serialize(),
        dataType: 'json',
        cache: false,
        success: msg => {
          if (msg.code !== 200) {
            $('input').val('');
            fade('用户名或密码错误');
          } else {
            fade('登录成功');
            setTimeout(() => {
              window.location.href = '/posts';
            }, 1500)
          }
        }
      })
    }
  })
  </script>
<% include footer %>